In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [2]:
axis_data =pd.read_csv('melb_data.csv')
axis_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [3]:
axis_data=axis_data.dropna(axis=0)
y=axis_data.Price
axis_features=['Rooms','Bathroom','Landsize','Lattitude','Longtitude']
x=axis_data[axis_features]
x.describe()

           Rooms   Bathroom     Landsize  Lattitude  Longtitude
count  60.000000  60.000000    60.000000  60.000000   60.000000
mean    2.716667   1.566667   251.133333 -37.777957  144.939105
std     0.783120   0.620734   244.073028   0.048900    0.054444
min     1.000000   1.000000     0.000000 -37.848100  144.867900
25%     2.000000   1.000000   123.000000 -37.808125  144.878975
50%     3.000000   1.500000   165.500000 -37.801550  144.952150
75%     3.000000   2.000000   266.750000 -37.723775  144.995400
max     6.000000   3.000000  1063.000000 -37.716400  145.000400

In [4]:
x.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2         1       156   -37.8079    144.9934
2      3         2       134   -37.8093    144.9944
4      4         1       120   -37.8072    144.9941
6      3         2       245   -37.8024    144.9993
7      2         1       256   -37.8060    144.9954

In [5]:
axis_model = DecisionTreeRegressor(random_state=1)
axis_model.fit(x,y)
print("Realización de predicciones para las siguientes 5 casas")
print(x.head())
print("Las predicciones son")
print(axis_model.predict(x.head()))

Realización de predicciones para las siguientes 5 casas
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2         1       156   -37.8079    144.9934
2      3         2       134   -37.8093    144.9944
4      4         1       120   -37.8072    144.9941
6      3         2       245   -37.8024    144.9993
7      2         1       256   -37.8060    144.9954
Las predicciones son
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [6]:
predicted_home_prices = axis_model.predict(x)
mean_absolute_error(y,predicted_home_prices)

666.6666666666666

In [7]:
train_x,val_x,train_y,val_y=train_test_split(x,y,random_state=0)
axis_model=DecisionTreeRegressor()
axis_model.fit(train_x,train_y)
val_predictions=axis_model.predict(val_x)
print(mean_absolute_error(val_y,val_predictions))

254800.0

In [8]:
axis_model = DecisionTreeClassifier(random_state=0)

In [9]:
axis_model.fit(train_x,train_y)

DecisionTreeClassifier(random_state=0)

In [10]:
axis_model.score(train_x,train_y)

1.0